
@{
    ViewData["Title"] = "Contact";
}

<div id="body" class="container site-page">

    <div id="sidebar" class="side-nav side-nav--desktop hidden-xs hidden-sm">
        <img class="side-nav-header" alt="Page Title" src="~/images/Contact_MenuHeader.png">
    </div>

    <div class="side-nav side-nav--mobile visible-xs visible-sm clearfix">
        <div class="btn-group">
            <button class="btn btn-custom btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span>Contact Us</span>
            </button>
        </div>
    </div>

    <div class="page-wrap">
        <div class="page-content">
            <section class="page-section">
                <header class="header--deco">
                    <span class="deco-text">CONTACT US</span>
                </header>

                <p>
                    You can contact us one of two ways; click one of the email links below to send us an email, or call the customer service
                    number.
                </p>

                <ul class="contact-info-list">
                    <li>CUSTOMER SERVICE:</li>
                    <li>
                        <a href="mailto:chefhowie@plankcooking.com">ChefHowie@plankcooking.com</a>
                    </li>
                    <li>Phone: 425.881.0422</li>
                    <li>Fax: 425.881.7338</li>
                </ul>

                <div class="dotted_line"></div>

                <p>
                    WHOLESALE OPPORTUNITIES are available, please contact customer service for more information.
                </p>

            </section>

            <div class="page-paper-end"></div>
        </div>
    </div>

</div>

