.mainDiv {
    text-align:center; 
    width:100%;
}

.menuHeader {
    padding-top:5px;
}

.mainLinksDiv {
    text-align:center; 
    max-width:225px; 
    margin: 0 auto;
}

.dottedLineClass {
    margin:10px 0px 10px 10px;
}