

<div class="hidden-xs hidden-sm col-md-3">


    <div class="mainDiv">

        <div>
            <img alt="Page Title" class="menuHeader" src="../../../../wwwroot/images/Shop_MenuHeader.png" />

            <div class="mainLinksDiv">

                <div class="dotted_line dottedLineClass"></div>

                <div>
                    <a routerLink="/Shop/SpiceRubs">
                        <span class="leftMenuTitle">SPICE RUBS</span>
                    </a>
                </div>
                <div class="dotted_line dottedLineClass"></div>
                <div>
                    <a routerLink="/Shop/CookBooks">
                        <span class="leftMenuTitle">COOKBOOKS</span>
                    </a>
                </div>
                <div class="dotted_line dottedLineClass"></div>
                <div>
                    <a routerLink="/Shop/BakingPlanks">
                        <span class="leftMenuTitle">BAKING PLANKS</span>
                    </a>
                </div>
                <div  class="dotted_line dottedLineClass"></div>
                <div>
                    <a routerLink="/Shop/BbqPlanks">
                        <span class="leftMenuTitle">BBQ PLANKS</span>
                    </a>
                </div>
                <div class="dotted_line dottedLineClass"></div>
                <div>
                    <a routerLink="/Shop/NutDriver">
                        <span class="leftMenuTitle">NUT DRIVER</span>
                    </a>
                </div>
                <div class="dotted_line dottedLineClass"></div>
            </div>
        </div>

    </div>

</div>