
    <div id="content" class="mainContent">

        <div class="hidden-xs hidden-sm headerDiv">
            <div class="headerStyle"><span>Preview Order &amp; Enter Payment Information &gt; Step 3 of 4</span></div>
        </div>
        <div class="hidden-xs hidden-sm tableMainDiv">
            <div class="paddingPreview">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td class="billingAddress">Billing Address</td>
                            <td class="shippingAddress">Shipping Address</td>
                        </tr>
                        <tr>
                            <td class="billingStyle" valign="top">
                                <table border="0" cellpadding="2" cellspacing="2" width="100%">
                                    <tbody>
                                        <tr>
                                            <td class="alignRight">Name:</td>
                                            <td>Jason Stanley</td>
                                        </tr>
                                        <tr>
                                            <td class="alignRight" valign="top">Address:</td>
                                            <td>5307 N Adams St <br>Spokane, WA 99205<br></td>
                                        </tr>
                                        <tr>
                                            <td class="alignRight">Phone:</td>
                                            <td>5092902353</td>
                                        </tr>
                                        <tr>
                                            <td class="alignRight">Email:</td>
                                            <td>jasonstanl3y@gmail.com</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="shippingStyle" valign="top">
                                <table border="0" cellpadding="2" cellspacing="2" width="100%">
                                    <tbody>
                                        <tr>
                                            <td class="alignRight">Name:</td>
                                            <td class="alignCenter">Jason Stanley</td>
                                        </tr>
                                        <tr>
                                            <td class="alignRight" valign="top">Address:</td>
                                            <td class="alignCenter">5307 N Adams St <br>Spokane, WA 99205<br></td>
                                        </tr>
                                        <tr>
                                            <td class="alignRight">Phone:</td>
                                            <td class="alignCenter">5092902353</td>
                                        </tr>
                                        <tr>
                                            <td class="alignRight">Email:</td>
                                            <td class="alignCenter">jasonstanl3y@gmail.com</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="paddingTop">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td class="shipping2YouStyle">Shipping to You</td>
                            <td class="priceQuantityStyleHeader">Price</td>
                            <td class="priceQuantityStyleHeader">Quantity</td>
                            <td class="totalStyleHeader">Total</td>
                        </tr>

                        <tr>
                            <td class="productStyle">
                                SPORT Steak Seasoning Rub
                            </td>
                            <td class="priceStyle">
                                $5.00
                            </td>
                            <td class="quantityStyle">
                                1
                            </td>
                            <td class="totalStyle">
                                $5.00
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2" class="subTotalSpace">&nbsp;</td>
                            <td class="subTotalHeader">Subtotal:</td>
                            <td class="subTotalPrice">$5.00</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="taxSpace">&nbsp;</td>
                            <td class="taxHeader">Tax:</td>
                            <td class="taxAmount">$0.00</td>
                        </tr>
                        <tr>
                            <td class="shippingHandlingStyle" colspan="3" align="right" valign="top">
                                *Shipping &amp; Handling:
                                <select>
                                    <option label="Select" value="object:137" selected="selected">Select</option>
                                    <option label="U.S.P.S. Parcel (3 - 8 days)" value="object:138">U.S.P.S. Parcel (3 - 8 days)</option>
                                    <option label="U.S.P.S. Priority (2 - 4 days)" value="object:139">U.S.P.S. Priority (2 - 4 days)</option>
                                </select>
                            </td>
                            <td class="shippingHandlingPrice" valign="top">$0.00</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="totalSpace">&nbsp;</td>
                            <td class="totalHeader">Total:</td>
                            <td id="tdTotalPrice" class="totalPrice">$5.00</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="noteStyle">*Shipping durations are estimates and not a guarantee</td>
                        </tr>
                    </tbody>
                </table>
            </div>
           
            <div class="paddingTop">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td class="payInfoHeader">Payment Information</td>
                        </tr>
                        <tr>
                            <td class="payInfoTd">
                                <div class="redColor"></div>
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td class="alignRight">Card Type:</td>
                                            <td>
                                                <select class="selectCardStyle">
                                                    <option label="Select" value="object:141" selected="selected">Select</option>
                                                    <option label="Visa" value="object:142">Visa</option>
                                                    <option label="MasterCard" value="object:143">MasterCard</option>
                                                    <option label="Discover" value="object:144">Discover</option>
                                                    <option label="American Express" value="object:145">American Express</option>
                                                </select>
                                            </td>
                                            <td colspan="2">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td class="alignRight">Card Number:</td>
                                            <td class="cardTd"><input class="cardInputStyle" placeholder="Card Number"></td>
                                            <td class="alignRight">Expiration:</td>
                                            <td>
                                                <select class="expirationSelect">
                                                    <option label="Select" value="object:148" selected="selected">Select</option>
                                                    <option label="January" value="object:149">January</option>
                                                    <option label="February" value="object:150">February</option>
                                                    <option label="March" value="object:151">March</option>
                                                    <option label="April" value="object:152">April</option>
                                                    <option label="May" value="object:153">May</option>
                                                    <option label="June" value="object:154">June</option>
                                                    <option label="July" value="object:155">July</option>
                                                    <option label="August" value="object:156">August</option>
                                                    <option label="September" value="object:157">September</option>
                                                    <option label="October" value="object:158">October</option>
                                                    <option label="November" value="object:159">November</option>
                                                    <option label="December" value="object:160">December</option>
                                                </select>
                                                <select class="expirationSelect">
                                                    <option label="Select" value="object:162" selected="selected">Select</option>
                                                    <option label="2017" value="object:163">2017</option>
                                                    <option label="2018" value="object:164">2018</option>
                                                    <option label="2019" value="object:165">2019</option>
                                                    <option label="2020" value="object:166">2020</option>
                                                    <option label="2021" value="object:167">2021</option>
                                                    <option label="2022" value="object:168">2022</option>
                                                    <option label="2023" value="object:169">2023</option>
                                                    <option label="2024" value="object:170">2024</option>
                                                    <option label="2025" value="object:171">2025</option>
                                                    <option label="2026" value="object:172">2026</option>
                                                    <option label="2027" value="object:173">2027</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="linkSpacing">&nbsp;<a routerLink="/Cart/Checkout"><img alt="Back" class="pointer" src="../../../../../wwwroot/images/Back_button.png"></a> <a routerLink="/Cart/Receipt"><img alt="Purchase" class="pointer" src="../../../../../wwwroot/images/Purchase_button.png"></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="visible-xs visible-sm smallMainContent">
            <div class="smallHeaderStyle"><span>Step 3 of 4</span></div>
        </div>
        <div class="visible-xs visible-sm tableSmallDiv">
            <div class="paddingPreview">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td class="smallBillingAddress">Billing Address</td>
                        </tr>
                        <tr>
                            <td class="smallBillingStyle" valign="top">
                                <table border="0" cellpadding="2" cellspacing="2" width="100%">
                                    <tbody>
                                        <tr>
                                            <td class="alignRight">Name:</td>
                                            <td class="smallAlignLeftWithPadding">Jason Stanley</td>
                                        </tr>
                                        <tr>
                                            <td class="alignRight" valign="top">Address:</td>
                                            <td class="smallAlignLeftWithPadding">5307 N Adams St <br>Spokane, WA 99205<br></td>
                                        </tr>
                                        <tr>
                                            <td class="alignRight">Phone:</td>
                                            <td class="smallAlignLeftWithPadding">5098445698</td>
                                        </tr>
                                        <tr>
                                            <td class="alignRight">Email:</td>
                                            <td class="smallAlignLeftWithPadding">jasonstanl3y@gmail.com</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="smallShippingHeader">Shipping Address</td>
                        </tr>
                        <tr>
                            <td class="smallShippingStyle" valign="top">
                                <table border="0" cellpadding="2" cellspacing="2" width="100%">
                                    <tbody>
                                        <tr>
                                            <td class="alignRight">Name:</td>
                                            <td style="text-align:left; padding:0 0 0 5px">Jason Stanley</td>
                                        </tr>
                                        <tr>
                                            <td class="alignRight" valign="top">Address:</td>
                                            <td class="smallAlignLeftWithPadding">5307 N Adams St <br>Spokane, WA 99205<br></td>
                                        </tr>
                                        <tr>
                                            <td class="alignRight">Phone:</td>
                                            <td class="smallAlignLeftWithPadding">5098445698</td>
                                        </tr>
                                        <tr>
                                            <td class="alignRight">Email:</td>
                                            <td class="smallAlignLeftWithPadding">jasonstanl3y@gmail.com</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="paddingTop">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td class="smallShipping2YouStyle">Shipping to You</td>
                            <td class="smallPriceQuantityHeader">Price</td>
                            <td class="smallPriceQuantityHeader">Quantity</td>
                            <td class="smallTotalStyleHeader">Total</td>
                        </tr>

                        <tr>
                            <td class="smallProductStyle">SPORT Steak Seasoning Rub</td>
                            <td class="smallPriceStyle">$5.00</td>
                            <td class="smallQuantityStyle">1</td>
                            <td class="smallTotalStyle">$5.00</td>
                        </tr>

                        <tr>
                            <td colspan="2" class="smallSubTotalSpace">&nbsp;</td>
                            <td class="smallSubTotalHeader">Subtotal:</td>
                            <td class="smallSubTotalPrice">$5.00</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="taxSpace">&nbsp;</td>
                            <td class="smallTaxHeader">Tax:</td>
                            <td class="smallTaxAmount">$0.00</td>
                        </tr>
                        <tr>
                            <td class="shippingHandlingStyle" colspan="3" align="right" valign="top">
                                *Shipping &amp; Handling:
                                <select>
                                    <option label="Select" value="object:137" selected="selected">Select</option>
                                    <option label="U.S.P.S. Parcel (3 - 8 days)" value="object:138">U.S.P.S. Parcel (3 - 8 days)</option>
                                    <option label="U.S.P.S. Priority (2 - 4 days)" value="object:139">U.S.P.S. Priority (2 - 4 days)</option>
                                </select>
                            </td>
                            <td class="smallShippingHandlingPrice" valign="top">$0.00</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="totalSpace">&nbsp;</td>
                            <td class="smallTotalHeader">Total:</td>
                            <td id="tdTotalPrice" class="smallTotalPrice">$5.00</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="smallNoteStyle">*Shipping durations are estimates and not a guarantee</td>
                        </tr>
                    </tbody>
                </table>
            </div>
           
            <div class="paddingTop">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td class="smallPayInfoHeader">Payment Information</td>
                        </tr>
                        <tr>
                            <td class="smallPayInfoTd">
                                <div class="redColor"></div>
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td class="alignRight">Card Type:</td>
                                            <td class="alignLeft">
                                                <select class="smallSelectCardStyle">
                                                    <option label="Select" value="object:141" selected="selected">Select</option>
                                                    <option label="Visa" value="object:142">Visa</option>
                                                    <option label="MasterCard" value="object:143">MasterCard</option>
                                                    <option label="Discover" value="object:144">Discover</option>
                                                    <option label="American Express" value="object:145">American Express</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="alignRight">Card Number:</td>
                                            <td class="smallCardTd"><input class="smallCardInputStyle" placeholder="Card Number"></td>
                                        </tr>
                                        <tr>
                                            <td class="alignRight">Expiration:</td>
                                            <td class="alignLeft">
                                                <select class="expirationSelect">
                                                    <option label="Select" value="object:148" selected="selected">Select</option>
                                                    <option label="January" value="object:149">January</option>
                                                    <option label="February" value="object:150">February</option>
                                                    <option label="March" value="object:151">March</option>
                                                    <option label="April" value="object:152">April</option>
                                                    <option label="May" value="object:153">May</option>
                                                    <option label="June" value="object:154">June</option>
                                                    <option label="July" value="object:155">July</option>
                                                    <option label="August" value="object:156">August</option>
                                                    <option label="September" value="object:157">September</option>
                                                    <option label="October" value="object:158">October</option>
                                                    <option label="November" value="object:159">November</option>
                                                    <option label="December" value="object:160">December</option>
                                                </select>
                                                <select class="expirationSelect">
                                                    <option label="Select" value="object:162" selected="selected">Select</option>
                                                    <option label="2017" value="object:163">2017</option>
                                                    <option label="2018" value="object:164">2018</option>
                                                    <option label="2019" value="object:165">2019</option>
                                                    <option label="2020" value="object:166">2020</option>
                                                    <option label="2021" value="object:167">2021</option>
                                                    <option label="2022" value="object:168">2022</option>
                                                    <option label="2023" value="object:169">2023</option>
                                                    <option label="2024" value="object:170">2024</option>
                                                    <option label="2025" value="object:171">2025</option>
                                                    <option label="2026" value="object:172">2026</option>
                                                    <option label="2027" value="object:173">2027</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="linkSpacing"><a routerLink="/Cart/Checkout"><img alt="Back" class="pointer" src="../../../../../wwwroot/images/Back_button.png"></a> <a routerLink="/Cart/Receipt"><img alt="Purchase" class="pointer" src="../../../../../wwwroot/images/Purchase_button.png"></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
