
                <div id="content" class="mainContent">
                   
                        
                            <div class="hidden-xs hidden-sm headerDiv">
                                <div class="headerStyle"><span>Order Receipt &gt; Step 4 of 4</span></div>
                            </div>
                            <div class="hidden-xs hidden-sm mainDiv">
                                <div class="topPadding">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td class="billingAddressHeader">Billing Address</td>
                                                <td class="shippingAddressHeader">Shipping Address</td>
                                            </tr>
                                            <tr>
                                                <td class="billingAddressTd" valign="top">
                                                    <table border="0" cellpadding="2" cellspacing="2" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td class="alignRight">Name:</td>
                                                                <td>Jason Stanley</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="alignRight" valign="top">Address:</td>
                                                                <td>5307 N Adams St <br>Spokane, WA 99205<br></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="alignRight">Phone:</td>
                                                                <td>5092902353</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="alignRight">Email:</td>
                                                                <td>jasonstanl3y@gmail.com</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td class="shippingAddressTd" valign="top">
                                                    <table border="0" cellpadding="2" cellspacing="2" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td class="alignRight">Name:</td>
                                                                <td class="alignCenter">Jason Stanley</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="alignRight" valign="top">Address:</td>
                                                                <td class="alignCenter">5307 N Adams St <br>Spokane, WA 99205<br></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="alignRight">Phone:</td>
                                                                <td class="alignCenter">5092902353</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="alignRight">Email:</td>
                                                                <td class="alignCenter">jasonstanl3y@gmail.com</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="topPaddingLarger">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td class="shippingToYouHeader">Shipping to You</td>
                                                <td class="priceQuantityStyle">Price</td>
                                                <td class="priceQuantityStyle">Quantity</td>
                                                <td class="totalHeaderStyle">Total</td>
                                            </tr>
                                            
                                            <tr class="ng-scope">
                                                <td class="productStyle">
                                                    SPORT Steak Seasoning Rub
                                                </td>
                                                <td class="priceStyle">
                                                    $5.00
                                                </td>
                                                <td class="quantityStyle">
                                                    1
                                                </td>
                                                <td class="totalPriceStyle">
                                                    $5.00
                                                </td>
                                            </tr>
                                            
                                            <tr>
                                                <td colspan="2" class="subTotalSpace">&nbsp;</td>
                                                <td class="subTotalHeader">Subtotal:</td>
                                                <td class="subTotalPrice" >$5.00</td>
                                            </tr>
                                         
                                            <tr>
                                                <td class="shippingHandlingStyle" colspan="3" align="right" valign="top">
                                                    *Shipping &amp; Handling:

                                                    <p>U.S.P.S. Parcel (3 - 8 days)</p>


                                                </td>
                                                <td class="shippingHandlingPrice" valign="top" >$3.00</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="totalSpace">&nbsp;</td>
                                                <td class="totalHeader">Total:</td>
                                                <td id="tdTotalPrice" class="totalPrice" >$5.00</td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" class="noteStyle">*Shipping durations are estimates and not a guarantee</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                              
                                <div class="topPaddingLarger">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td class="payInfo">Payment Information</td>
                                            </tr>
                                            <tr>
                                                <td class="cardTd">
                                                    <div class="redColor"></div>
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td class="alignRight">Confirmation Code: 92111-852221</td>
                                                                <td colspan="2">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="alignRight">Card Number: Visa 111111111111111</td>

                                                                <td colspan="2">&nbsp;</td>
                                                            </tr>


                                                        </tbody>
                                                    </table>

                                                </td>
                                            
                                            </tr>

                                            <tr>
                                                <td class="bottomTdStyle"></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="visible-xs visible-sm smallHeaderDiv topPaddingLarger">
                                <div class="smallHeaderStyle"><span>Order Receipt &gt; Step 4 of 4</span></div>
                            </div>
                            <div class="visible-xs visible-sm smallMainDiv">
                                <div class="topPadding">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td class="smallBillingAddressHeader">Billing Address</td>
                                            </tr>
                                            <tr>
                                                <td class="smallBillingAddressTd" valign="top">
                                                    <table border="0" cellpadding="2" cellspacing="2" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td class="alignRight">Name:</td>
                                                                <td class="smallAlignLeftPadding">Jason Stanley</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="alignRight" valign="top">Address:</td>
                                                                <td class="smallAlignLeftPadding">5307 N Adams St <br>Spokane, WA 99205<br></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="alignRight">Phone:</td>
                                                                <td class="smallAlignLeftPadding">5098445698</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="alignRight">Email:</td>
                                                                <td class="smallAlignLeftPadding">jasonstanl3y@gmail.com</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="smallShippingAddressHeader">Shipping Address</td>
                                            </tr>
                                            <tr>
                                                <td class="smallShippingAddressTd" valign="top">
                                                    <table border="0" cellpadding="2" cellspacing="2" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td class="alignRight">Name:</td>
                                                                <td class="smallAlignLeftPadding">Jason Stanley</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="alignRight" valign="top">Address:</td>
                                                                <td class="smallAlignLeftPadding">5307 N Adams St <br>Spokane, WA 99205<br></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="alignRight">Phone:</td>
                                                                <td class="smallAlignLeftPadding">5098445698</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="alignRight">Email:</td>
                                                                <td class="smallAlignLeftPadding">jasonstanl3y@gmail.com</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="topPaddingLarger">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td class="smallShippingToYouHeader">Shipping to You</td>
                                                <td class="smallPriceQuantityStyle">Price</td>
                                                <td class="smallPriceQuantityStyle">Quantity</td>
                                                <td class="smallTotalHeaderStyle">Total</td>
                                            </tr>
                                           
                                            <tr>
                                                <td class="smallProductStyle">SPORT Steak Seasoning Rub</td>
                                                <td class="smallPriceStyle">$5.00</td>
                                                <td class="smallQuantityStyle">1</td>
                                                <td class="smallTotalPriceStyle">$5.00</td>
                                            </tr>
                                           
                                            <tr>
                                                <td colspan="2" class="subTotalSpace">&nbsp;</td>
                                                <td class="smallSubTotalHeader">Subtotal:</td>
                                                <td class="smallSubTotalPrice">$5.00</td>
                                            </tr>
                                      
                                            <tr>
                                                <td class="shippingHandlingStyle" colspan="3" align="right" valign="top">
                                                    *Shipping &amp; Handling:

                                                    <p>U.S.P.S. Parcel (3 - 8 days)</p>

                                                </td>
                                                <td class="smallShippingHandlingPrice" valign="top" >$3.00</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="totalSpace">&nbsp;</td>
                                                <td class="smallTotalHeader">Total:</td>
                                                <td id="tdTotalPrice" class="smallTotalPrice" >$5.00</td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" class="noteStyle">*Shipping durations are estimates and not a guarantee</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                               
                                <div class="topPaddingLarger">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td class="payInfo">Payment Information</td>
                                            </tr>
                                            <tr>
                                                <td class="cardTd">
                                                    <div class="redColor"></div>
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td class="alignRight">Confirmation Code: 92111-852221</td>
                                                                <td colspan="2">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="alignRight">Card Number: Visa 111111111111111</td>
                                                                <td colspan="2">&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                </div>
     