@{
    ViewData["Title"] = "Home";
}

<div id="home" class="container home-container">
    <div id="home-header" class="image-header">
        <img src="~/images/HeaderImage_background.png" class="image-frame" alt="Wooden image border">
        <img src="~/images/HomePg_Rotator_image1a.png" class="img-responsive" alt="The Original Cedar Plank Roasted Salmon">
    </div>

    <div class="flex-cubes">
        <a class="flex-cube" href="/Shop/SpiceRubs">
            <img class="img-responsive" src="~/images/SpiceRubs_cube.png" alt="Spice Rubs">
        </a>
        <a class="flex-cube" href="/Shop/BakingPlanks">
            <img class="img-responsive" src="~/images/BakingPlanks_cube.png" alt="Baking Planks">
        </a>
        <a class="flex-cube" href="/Shop/Cookbooks">
            <img class="img-responsive" src="~/images/Cookbooks_cube.png" alt="Cook books">
        </a>
        <a class="flex-cube" href="/Shop/BBQPlanks">
            <img class="img-responsive" src="~/images/BBQ_Planks_cube.png" alt="BBQ Planks">
        </a>
    </div>

    <div id="footer" class="hidden-xs">
        <img src="~/images/FooterPlank.png" class="img-responsive">
    </div>
</div> <!-- /#body -->